{%extends "base.html"%}
{% load static %}

{%block headextras%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />
  <style>

    h1, h2, h3 {color: black; font-weight: 500}
    body {line-height: 1.2;}
    p {font-weight: 500}
    li {font-weight: 500}


  </style>
{% endblock %}


{% block body %}

<div class="row mt-5">
  <div class="col-2"></div>
  <div class="col-8">

    <h1 class="my-5">NIH Commons Fullstack Demo with TOPMED Data</h1>

    <h2>Coming Soon</h2>

  </div>

</div>


{% endblock %}