{%extends "base.html"%}
{% load static %}

{%block title%}My Bags{%endblock%}

{%block headextras%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />
{%endblock%}


{%block body%}

{%block detail_messages %}
<div class="container my-3">
    {%include "components/messages.html"%}
</div>
{%endblock%}


<div class="row mt-5">

  <div class="col-4 ml-4">
    {% include 'components/workflow-bags.html' %}
  </div>

  <div class="col-7">
    {% include 'components/workflow-info.html' %}
  </div>
  <div class="col"></div>
</div>


{% for workflow in workflows %}

<div class="row my-5">
  <div class="col"></div>
  <div class="col-10">
    {% include 'components/workflow-workflows.html' %}
  </div>
  <div class="col"></div>
</div>

{% endfor %}

<hr>


<div class="row my-5">
  <div class="col"></div>
  <div class="col-10">
    {% include 'components/workflow-create.html' %}
  </div>
  <div class="col"></div>

</div>

{%endblock%}