<li>
  <a class="nav-link" href="{% url 'intro-page' %}">Docs</a>
</li>
{%if auth_enabled and request.user.is_authenticated %}
<li>
  <a class="nav-link" href="{% url 'search' %}">Search</a>
</li>
<li>
  <a class="nav-link" href="{% url 'workspaces' %}">Workspaces</a>
</li>
<li>
  <a class="nav-link" href="{% url 'profile' %}">{{request.user.username }}</a>
</li>
<li>
  <a class="nav-link" href="{% url 'logout' %}?next=/{{server_url}}">Logout</a>
</li>
{% elif auth_enabled %}
<li>
  <a class="nav-link" href="{% url 'login' %}globus?next=/{{server_url}}">Login</a>
</li>
{% endif %}