<tr>

  {% if forloop.first %}
  <td rowspan="{{task_count}}">
    {% if workspace.metadata.data_set %} {{workspace.metadata.data_set}} / {%endif %}
    {{workspace.metadata.data_id}}
  </td>
  {% endif %}

  <td>
    <a href="{% url 'task' task.id %}">{{task.display_category}}</a>
  </td>

  <td>
    <div id="task-input-{{task.id}}">
      <a target="blank" href="{{task.input_metadata.link}}">{{task.input_metadata.title}}</a>
    </div>
  </td>

  <td>
    <div id="task-output-{{task.id}}">
      <a target="blank" href="{{task.ouput_metadata.link}}">{{task.output_metadata.title}}</a>
    </div>
  </td>

  <td>
    <div id="task-status-{{task.id}}">
      {{task.status}}
    </div>
  </td>

  {% if forloop.first %}
  <td rowspan="{{task_count}}">
    <div class="row">
      <div class="col-6">
        <button id="task-button-{{workspace.current_task.id}}" type="button"
                onclick="start_task({{workspace.current_task.id}});"
                class="btn btn-primary" disabled>Start</button>
      </div>
      <div class="col-6">
        <form method="post" action="{% url 'workspace-delete' %}">
        {% csrf_token %}
        <input type="hidden" id="{{workspace.id}}" name="id" value="{{workspace.id}}">
        <button type="submit" class="btn btn-secondary">
            <i class="fa fa-trash "></i>
        </button>
        </form>
      </div>
    </div>
  </td>
  {% endif %}

</tr>