<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <h2>{{group_assignment}} Workspace</h2>
      </div>
      <div class="col-5"></div>
      <div class="col-1">
      </div>
    </div>
  </div>

  <div class="table-responsive table-bordered">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Task Type</th>
          <th>Task Input</th>
          <th>Task Output</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for workspace in wf_group %}
        {% for task in workspace.tasks %}
          {% with workspace.tasks|length as task_count %}
          {% include 'components/workspace-tasks.html' %}
          {% endwith %}
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>